<html> 
<head>
    <link rel="stylesheet" type="text/css" href="./Public/homePageStyle.css">
  <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>
    <div id = "hero">
        <div id = "user">
           <a href="userSignUpPage"> <button id="button" type="button" class="btn btn-primary btn-lg">I want to search for items</button></a>                           
        </div>
       <div id = "shopKeeper">
            <a href="/shopkeeperSignUpPage"> <button id="button" type="button" class="btn btn-primary btn-lg">I want to list my shop</button></a>
      </div>
    </div>
</body>

</html>